<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miniproject</title>
    <link rel="stylesheet" href="css/sign.css">
</head>
<body>
   
        <div class="box">
            <div class="login-box">
                <div class="lo">
                    SIGN UP
                </div>
                    <form action="/" class="f" method="post">
                        <div class="usern">
                            Enter first Name
                        </div>
                        <pre>
                        <input class="firstn" name="firstname" id="mail"type="text" required="required" placeholder="first name">
                        </pre>
                        <div class="usern">
                            Enter last Name
                        </div>
                        <pre>
                        <input class="lastn" name="lastname" id="mail"type="text" required="required"  placeholder="last name">
                        </pre>
                        <div class="number">
                            Enter mobile number
                        </div>
                        <pre>
                            <input class="num" type="tel" name="number" required="required" placeholder="+91 xxxxx xxxxx" >
                        </pre>
                        <div class="usern">
                            Enter area
                        </div>
                        <pre>
                        <input class="ty" name="address" id="mail"type="text" required="required" placeholder="k..nagar,vadapalani..">
                        </pre>
                        <div class="bu">
                            <button type="submit">SUBMIT</button>
                        </div>
                    </form>
            </div>
        </div>
</body>
</html>